    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="brand-heading-img"><img src="img/savethedate.png" alt=""></div>
                        <!-- <h1 class="brand-heading">Karen & Jonny</h1> -->
                        <p class="intro-text"><span class="smallcaps">karen</span> <span class="ampersand swash">&</span> <span class="smallcaps">jonny<br /><span class="oldstylenums">30–07–15 </span></p>
                    </div>
                </div>
            </div>
        </div>
    </header>