/*!
 * 
 */

body {
    width: 100%;
    height: 100%;
    font-family: "garamond-premier-pro-caption",serif;
    font-weight: 400;
    color: $text-dark;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "garamond-premier-pro-caption",serif;
    font-weight: 400;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: {{ site.color.links }};
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.light {
    font-weight: 400;
}

.front {
    z-index:10
}

/*intro*/


.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: #eee;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .line {
        background-color: $primary-color;
        width: 1px;
        border:3px solid $primary-color;
        height: 50%;
        z-index:5;
        position:absolute;
        top:50%;
        left:50%;
    }
  
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        color: $text-dark;

        .savethedate {
            background-color: #fff;
            border: 5px solid $primary-color;
            z-index:100;
            border-radius: $border-radius;

            .intro-text {
                margin: 40px 0 0 0;
                font-size: 18px;
                line-height:1.4;
            }
            .brand-heading {
                margin: 20px 0;
                font-weight: 400;
            }
            .date-text {
                margin-bottom: 40px;
                font-size:26px;
            }
        }
    }
} 

#about {

    .info-box {
        border: 5px solid $primary-color;
        background-color: #fff;
        position: relative;
        top: -40px;
        border-radius: $border-radius;
        
        h2 {
            margin: 60px 60px 20px;
        }
        p {
            margin: 0 60px 40px;
        }
    }
}

/*mobile only*/

@media(max-width:766px) {
    
    .intro {
        background: url(/img/intro-bg.jpg) no-repeat center center scroll;
        background-size: cover;
    
        .intro-text {
            margin-bottom: 20px;
        }
    }

    #about {
        .info-box h2 {
            margin: 20px;
        }

        .info-box p {
            margin: 0 20px 20px;
        }
    }
}

/* desktop only */

@media(min-width:767px) {

    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }

    .intro {
        height: 100%;
        padding: 0;
        background: url(/img/intro-bg.jpg) no-repeat center center scroll;
        background-size: cover;

        .intro-body .intro-text {
            font-size: 25px;
        }
    }

    .ampersand {
        top:8px;
        margin-top: 12px !important;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
