/*!
 * 
 */

body {
    width: 100%;
    height: 100%;
    font-family: "garamond-premier-pro-caption",serif;
    font-weight: 400;
    color: $text-dark;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: "garamond-premier-pro-caption",serif;
    font-weight: 400;
    letter-spacing: 1px;
}

p, ol, ul {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

ol, ul {
    padding-left: 20px;
}

a {
    color: $primary-color;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &:hover, &:focus {
        text-decoration: none;
        color: #11505d;
    }
}

    .btn {
        border: 1px solid $primary-color;
        font-size: 18px;

        &:hover, &:focus {
            background-color: $primary-color;
            color: #fff;
        } 
    }

.light {
    font-weight: 400;
}

.front {
    z-index:10
}

.line {
    background-color: $primary-color;
    width: 2px;
    border:$line-thickness solid $primary-color;
    height:100%;
    z-index:5;
    position:absolute;
    left:50%;
}

.bottom-line {
    @extend .line;
    height:50%;
    top:50%;
}

.top-line {
    @extend .line;
    height:50%;
}



/*intro*/


.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-color: #eee;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        color: $text-dark;

        .savethedate {
            background-color: #fff;
            border: $border-thickness solid $primary-color;
            z-index:100;
            border-radius: $border-radius;

            .intro-text {
                margin: 40px 0 0 0;
                font-size: 18px;
                line-height:1.4;
            }
            .brand-heading {
                margin: 20px 0;
                font-weight: 400;
            }
            .date-text {
                margin-bottom: 40px;
                font-size:26px;
            }
        }
    }
} 

.content-section {
    position: relative;

    &.full-width {
        width:100%;
    }

    &.coral {
        background-color: $pale-coral;
    }
    &.darkblue {
        background-color: $dark-blue;
    }
    &.mint {
        background-color: $pale-mint;
    }

    &.more-height {
        min-height: 200px;
    }
}

.info-box {
    border: $border-thickness solid $primary-color;
    background-color: #fff;
    position: relative;
    margin-bottom: 50px;
    top: -40px;
    border-radius: $border-radius;
    
    h2 {
        margin: 60px 60px 20px;
    }
    p, ol, ul {
        margin: 0 60px 30px;
    }

    &.circle {
        border-radius: 1000px;
        text-align: center;
        position: relative;
        vertical-align: middle;

        p {
            line-height: 1;
            margin: 20px;
        }
    }

    &.no-overlap {
        top: 40px;        
    }
}

/*mobile only*/

@media(max-width:766px) {
    
    .intro {
        // background: url(/img/intro-bg.jpg) no-repeat center center scroll;
        background-size: cover;
    
        .intro-text {
            margin-bottom: 20px;
        }
    }

    .info-box {
        h2 {
            font-size: 20px;
            margin: 20px;
        }

        p, ol, ul {
            margin: 0 20px 15px;
        }
    }
}

/* desktop only */

@media(min-width:767px) {

    p, ol, ul {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }

    .intro {
        height: 100%;
        padding: 0;
        // background: url(/img/intro-bg.jpg) no-repeat center center scroll;
        background-size: cover;

        .intro-body .intro-text {
            font-size: 25px;
        }
    }

    .ampersand {
        top:8px;
        margin-top: 12px !important;
    }

    .info-box {
        .btn {
            margin-bottom: 20px;
        }
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
