$primary-color: #ec6666;
$text-dark: #333;
$border-radius: 5px;
$border-thickness: 2px;
$line-thickness: $border-thickness/2;

// coral

$coral: rgba(236, 102, 102, 1);
$pale-coral: rgba(236, 102, 102, .5);

// dark blue

$dark-blue: #0c1d1f;

// mint

$mint: rgba(107, 244, 213, 1);
$pale-mint: rgba(107, 244, 213, .5);