<!DOCTYPE html>
<html>
    {% include head.html %}
    <header class="intro">
        <div class="bottom-line"></div>
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="front col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <div class="savethedate">
                            <!-- <div class="brand-heading-img"><img src="img/savethedate.png" alt=""></div> -->
                            <p class="intro-text"><span class="swash"><i>Save the Date</i></span></p>
                            <h2 class="brand-heading"><span class="smallcaps">karen</span><br class="visible-xs"><span class="ampersand swash">&</span><br class="visible-xs"><span class="smallcaps">jonny<br /></h2>
                            <p class="date-text"><span class="oldstylenums">30–07–16</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="about" class="container content-section full-width mint">
        <div class="line"></div>
        <div class="row">
            <div class="front col-xs-12 col-sm-8 col-sm-offset-3 col-md-6 col-md-offset-5">
                <div class="info-box">
                    <h2 class="smallcaps">we're getting married!</h2>
                    <p class="ligatures">
                        If you received an email from us with a 'Save the Date' then you're invited to our wedding! We can't wait to become a family and celebrate with you all, but we can't reveal too much yet.
                    </p>
                    <p class="ligatures">
                        <i class="swash">S</i>o for now, just get <i class="swash">Saturday the 30th July</i> in your diaries. We'll be partying in a field... In <a target="_blank" href="https://goo.gl/maps/VkvSXGHbxWv">Bovingdon</a>.
                    </p>
                    <!-- <p><a class="btn smallcaps" href="#">save in my calender</a></p> -->
                </div>
            </div>
        </div>
    </section>
    <section id="more" class="container content-section">
        <div class="line"></div>
        <div class="row">
            <div class="front col-xs-12 col-sm-8 col-sm-offset-1 col-md-7 col-md-offset-1">
                <div class="info-box">
                    <h2 class="smallcaps">what can i do now?</h2>
                    <ol>
                        <li class="ligatures">Book a hotel room (though there will also be camping on-site for the hardcore).</li>
                        <li class="ligatures">Print your <a href="#">save the date</a> and stick it on the fridge.</li>
                        <li class="ligatures">Watch your letterbox like a hawk (but remember to eat).</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section id="final" class="container content-section full-width darkblue more-height">
        <div class="top-line"></div>
        <div class="row">
            <div class="front col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-2 col-md-offset-5">
                <div class="info-box circle no-overlap">
                    <p><i>Full invitation to follow...</i></p>
                </div>
            </div>
        </div>
    </section>
    {% include js.html %}
    </body>
</html>